<h1>Dragonball Page</h1>
<hr />

<section class="row">
  <div class="col-12 col-sm-6">
    <h3>Agregar: {{ name() }} de {{ power() }} de poder</h3>
    <input
      type="text"
      [value]="name()"
      class="form-control"
      placeholder="Nombre"
      (change)="name.set(txtName.value)"
      (input)="name.set(txtName.value)"
      #txtName
    />
    <input
      type="number"
      [value]="power()"
      class="form-control mt-2"
      placeholder="Poder"
      (change)="power.set(+txtPower)"
      (input)="power.set(+txtPower)"
      #txtPower
    />

    <button (click)="addCharacter()" class="mt-2 btn btn-primary">
      Agregar
    </button>
  </div>

  <div class="col-12 col-sm-6">
    <dragonball-character-list />
  </div>
</section>
